body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("pexel.jpg");
    background-size: cover;
    margin: 50px;
 
}

.cont{
    background-color: gray;
    border: 2px solid black ;
    width: 300px;
    height: auto;
    display: inline-block;
    margin: 30px;
}
table{
    width:auto;
    align-content: center;
    display: inline-block;
}
table,th,td {
    border: 1px solid black ;
    border-collapse: collapse;
}
th{
    background-color:  rgba(215, 12, 12, 0);
}
td{
    background-color:  rgba(102, 82, 82, 0.564);
}

h1{
    color: rgb(1, 3, 3);
    margin-top: 0px;
    text-decoration: underline;
}

button{
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
}

button:hover{
    background-color: rgba(4, 4, 3, 0.648)
}

input{
    width: 200px;
    text-align: right;
    font-size: 18px;
    padding: 5px;
    background-color: rgba(216, 207, 207, 0.826);
    border: 3px solid black;
}